<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


<div class="tablediv">
   <table style='width:80%; border: 1px solid black; text-align: left;'>

               <tr>
                 <th> Users </th>
                 <th> Weekly Goals </th>
                 <th> Daily Goals </th>
                 <th> Verify Goals </th>
                 <th> Done Goals </th>
               </tr>

               <tr  style= 'border: 1px solid black;'>
                   <td> {{ user }}  </td>
                   <td> {{ goal_name }}, {{ goal_id }}</td>
                   <td>  </td>
                   <td>   </td>
                   <td>   </td>

               </tr>
        </table>
    </div>
  </body>
</html>

